/* header styles */

.mdl-color--primary{
	background-color: #ffffff !important;
}

.mdl-layout__header-row .mdl-navigation__link{
	color: #000000;
}

.mdl-layout__drawer-button{
	display: none;
}

.mdl-layout__header-row{
	position: relative;
}

.mdl-layout__header-row img{
	height: 60px;
}

.mdl-layout__header-row .mdl-navigation__link{
	padding: 0 16px;
}

.mdl-layout__header-row #block-signature{
	position: absolute;
    left: calc(50% - 136px);
    display: none;
}

/* end header styles */

/* body styles */

body{
	color: #333;
}

img{
	max-width: 100%;
	height: auto;
}

.mdl-layout__content .mdl-cell{
	max-width: 1200px;
	margin: auto;
}

#block-sitebranding{
	text-align: center;
}

#block-sitebranding img{
	width: 600px;
}

.mdl-cell--4-col{
	display: inline-block;
}

.collection .views-field-title{
	position: absolute;
    bottom: 0px;
    padding: 20px;
    opacity: 0.9;
    width: calc(100% - 40px);
    background: #333;
    text-align: center;
}

.collection .views-field-title span{
	line-height: 20px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 700;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    color: #fff;
}

.collection .views-row{
	margin: 20px 6px;
}

.mdl-layout-title,
h2{
	font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.events .views-field-title{
	font-size: 18px;
    font-weight: bold;
}

.events .views-field-field-date-and-time{
	color: #898989;
}

.events .views-row{
	margin-bottom: 20px;
}

.news .views-field-field-image{
	width: 33.333333%;
    display: inline-block;
    float: left;
    padding-right: 20px;
}

.news .views-field-title{
	font-size: 18px;
    font-weight: bold;
}

.news .views-row{
	margin-bottom: 20px;
}

.feed-icon{
	display: none;
}

.scrolltop {
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999999999999999;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /*text-indent: -99999px;*/
  position: fixed;
  bottom: -100px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  overflow: auto;
  background: #ffffff;
  color: #000;
  text-align: center;
  border: 1px solid #000;
}

.scrolltop i{
  font-size: 30px;
  margin: 12px 0;
}

/* end body styles */

