/* header styles */

.mdl-color--primary{
	background-color: #ffffff !important;
}

.mdl-layout__header-row .mdl-navigation__link{
	color: #000000;
}

.mdl-layout__drawer-button{
	display: none;
}

.mdl-layout__header-row img{
	height: 64px;
}
