/* header styles */

.mdl-color--primary{
	background-color: #ffffff !important;
}

.mdl-layout__header-row .mdl-navigation__link{
	color: #000000;
}

.mdl-layout__drawer-button{
	display: none;
}

.mdl-layout__header-row img{
	height: 60px;
}

.mdl-layout__header-row .mdl-navigation__link{
	padding: 0 20px;
}

#block-signature{
	position: fixed;
    left: calc(50% - 136px);
    display: none;
}

/* end header styles */

/* body styles */

img{
	max-width: 100%;
}

.mdl-layout__content .mdl-cell{
	max-width: 1200px;
	margin: auto;
}

#block-sitebranding{
	text-align: center;
}

#block-sitebranding img{
	width: 600px;
}

.scrolltop {
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999999999999999;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /*text-indent: -99999px;*/
  position: fixed;
  bottom: -100px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  overflow: auto;
  background: #ffffff;
  color: #000;
  text-align: center;
}

.scrolltop i{
  font-size: 30px;
  margin: 12px 0;
}